/* Estilos para la vista de configuración */

/* Estilo base para el contenedor principal */
.mainFxmlClass {
    -fx-background-color: #222; /* Fondo oscuro */
    -fx-border-color: #395fa9; /* Borde azul */
    -fx-background-radius: 10; /* Bordes redondeados */
    -fx-border-radius: 10;
    -fx-font-size: 14; /* Tamaño de fuente estándar */
}

/* Estilo para el botón de cerrar sesión */
.btn-close {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-border-color: #525252; /* Borde gris */
    -fx-border-radius: 5; /* Bordes redondeados */
    -fx-text-fill: #dfdfdf; /* Texto claro */
}

/* Efecto hover para el botón de cerrar sesión */
.btn-close:hover {
    -fx-background-color: #2f2f2f; /* Fondo gris oscuro al pasar el ratón */
}