/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #222;
    -fx-border-color: #395fa9;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-size: 14;
}

.button {
    -fx-background-color: #395fa9;
    -fx-text-fill: #dfdfdf;
}

.button:hover {
    -fx-background-color: #294f99;
}

.label {
    -fx-text-fill: #cfcfcf;
}

.text-field {
    -fx-text-fill: #afafaf;
    -fx-background-color: #222;
    -fx-border-color: #395fa9;
    -fx-border-width: 0 0 1 0;
}

.btn-registro {
    -fx-font-weight: 700;
    -fx-background-color: none;
    -fx-padding: 0;
    -fx-text-fill: #395fa9;
}

.btn-registro:hover {
    -fx-background-color: none;
    -fx-text-fill: #294f99;
}

#title {
    -fx-text-fill: #395fa9;
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-border-width: 0 0 0 5;
    -fx-border-color: #395fa9;
    -fx-padding: 0 0 0 15;
}

.title {
    -fx-text-fill: #395fa9;
    -fx-font-size: 22px;
    -fx-font-weight: 700;
}

.btn-close {
    -fx-background-color: transparent;
    -fx-border-color: #525252;
    
    -fx-border-radius: 5;
    -fx-text-fill: #dfdfdf;
}

.btn-close:hover {
    -fx-background-color: #2f2f2f;
}

.container {
    -fx-background-color: #191919;
    -fx-background-radius: 10;
}


#field-container {
    -fx-background-color: #222;
    -fx-background-radius: 10;
}

/* Menu desplegable */
.list-view {
    -fx-background-color: #2f2f2f;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

.list-cell {
    -fx-background-color: #2f2f2f;
    -fx-text-fill: #afafaf;
    -fx-background-radius: 5;
}

.list-cell:hover {
    -fx-background-color: #294f9955;
    -fx-text-fill: #cfcfcf;
}

/* Barra de desplazamiento */
.scroll-bar {
    -fx-background-color: transparent; /* Fondo de la barra */
    -fx-padding: 2;             /* Espacio interno para la barra */
}

.scroll-bar .track {
    -fx-background-insets: 0;
    -fx-background-radius: 6;
}

.scroll-bar .thumb {
    -fx-background-color: #395fa9; /* Color del "pulgar" (la parte que se mueve) */
    -fx-background-insets: 2;
    -fx-background-radius: 6;
}

/* Opcional: Hover efecto en el thumb */
.scroll-bar .thumb:hover {
    -fx-background-color: #5a7dcf;
}