/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 sep 2025, 11:12:20 a.m.
    Author     : PROG
*/

.button {
    -fx-text-fill: #cfcfcf;
    -fx-background-color: #395fa9;
    /* -fx-border-width: 1;*/
    -fx-border-radius: 4;
    /*-fx-border-color: #888;*/
    -fx-background-radius: 4;
    -fx-alignment: center;
    -fx-padding: 4;
}

.button:hover, .button:focused {
    -fx-background-color: #294f99;
}

.label {
    -fx-text-fill: #bfbfbf;
    -fx-background-color: transparent;
}

.container {
    -fx-background-color: #191919;
    -fx-background-radius: 10;
}

.table-view {
    -fx-background-color: #222;
    -fx-border-width: 1;
    -fx-border-color: #294f99;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-text-fill: #bfbfbf;
}

.table-view .column-header {
    /* Cada columna del encabezado */
    -fx-background-color: #222;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #294f99;
}

.table-view .table-column {
    -fx-background-color: #222;
    -fx-border-width: 0;
    -fx-border-style: none;
}

.table-view .table-row-cell:focused {
    -fx-background-color: #222;
    -fx-border-color: #395fa9; /* color del borde */
    -fx-border-width: 1;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #222;
    -fx-border-color: #597fc9; /* color del borde */
    -fx-border-width: 0.5;
    -fx-border-style: solid;
}

.table-view .table-row-cell {
    -fx-height: 20px;
    -fx-border-width: 0;
    -fx-border-style: none;
}

.table-view .table-cell {
    -fx-text-fill: #cfcfcf;
    -fx-border-width: 0;
    -fx-border-style: none;
}

.scroll-bar {
    -fx-padding: 2;             /* Espacio interno para la barra */
}

.scroll-bar .track {
    -fx-background-insets: 0;
    -fx-background-radius: 6;
}

.scroll-bar .thumb {
    -fx-background-color: #395fa9; /* Color del "pulgar" (la parte que se mueve) */
    -fx-background-insets: 2;
    -fx-background-radius: 6;
}

/* Opcional: Hover efecto en el thumb */
.scroll-bar .thumb:hover {
    -fx-background-color: #5a7dcf;
}

.table-view .table-row-cell:selected, 
.table-view .table-cell:selected,
.table-view .table-row-cell:focused, 
.table-view .table-cell:focused
{
    -fx-background-color: #395fa9; /* fondo azul, o el que quieras */
    -fx-text-fill: white;

    /* Cambia o quita el borde focus */
    -fx-focus-color: transparent;       /* elimina borde azul */
    -fx-faint-focus-color: transparent; /* elimina borde azul claro */
    
    /* Quitar cualquier efecto adicional */
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

* {
    -fx-background-color: #222;
    -fx-border-style: none;
}

.check-box .box {
    -fx-background-color: #292929; /* El color que desees */
    -fx-border-color: #395fa9;     /* Opcional: color del borde */
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.check-box:selected .mark {
    -fx-background-color: #dfdfdf;  /* color del check (✔) */
}

.check-box:hover .box {
    -fx-effect: dropshadow(gaussian, #395fa9, 5, 0, 0, 0);
}