/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: #222;
    -fx-border-color: #395fa9;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-font-size: 14;
}

.content-pane{
    -fx-background-color: #292929;
    -fx-border-color: #395fa9;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.browser {
    -fx-text-fill: #afafaf;
    -fx-background-color: #1c1c1c;
    -fx-border-color: #395fa9;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#containerBtns {
    -fx-background-color: #02142a;
    -fx-background-radius: 10;
}

.btns-inicio {
    -fx-background-color: #395fa9;
    -fx-background-radius: 40;
    -fx-padding: 0;
}

.btns-inicio:hover {
    -fx-background-color: #294f99;
    -fx-effect: dropshadow(gaussian, #1d7cbd, 5, 0, 0, 0);
}

.container {
    -fx-background-color: #191919;
    -fx-background-radius: 10;
}

.btn-close {
    -fx-background-color: transparent;
    -fx-border-color: #525252;
    
    -fx-border-radius: 5;
    -fx-text-fill: #dfdfdf;
}

.btn-close:hover {
    -fx-background-color: #2f2f2f;
}

.list-view {
    -fx-background-color: #222;
    -fx-background-radius: 10;
    -fx-padding: 5;
}

.list-cell {
    -fx-background-color: #222;
    -fx-text-fill: #afafaf;
    /*-fx-background-radius: 5;*/
}

.list-cell:selected {
    -fx-background-color: #395fa9;
    -fx-text-fill: #cfcfcf;
}

.list-cell:hover {
    -fx-background-color: #294f9955;
    -fx-text-fill: #cfcfcf;
}

.btn-vinculo {
    -fx-background-color: #395fa9;
    -fx-text-fill: #dfdfdf;
}

.text-field {
    -fx-background-color: #191919;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #395fa9;
    -fx-border-radius: 0;
}